---
Checks: >
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-signed-bitwise,
  clang-analyzer-*,
  performance-*,
  -performance-no-int-to-ptr,
  -performance-enum-size
WarningsAsErrors: '*'
HeaderFilterRegex: '/schnelle-umlaute/(addon|tests)/.*\.h$'
FormatStyle: none
